article {
    padding: 0.5in 0;

    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    height: 100vh;
    background: linear-gradient(hsl(55, 100%, 96%), white 6.55rem);

    * { grid-column: start / end;}
} 

@media (max-width: 8.5in) {
    article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }
}

.share {
    display: flex;
    justify-content: center;
}

.share img {
    padding: 0.75rem;
    width:   1.50rem;
    height:  1.50rem;
}